// Colors
$color-primary: #6d111c;
$color-primary-dark: #6d111c;
$color-primary-light: #8b3b36;

$color-secondary-dark: #c49e6e;
$color-secondary-light: #e8c9a2;

$color-tertiary: #396939;

$color-font-primary: #333333;

$color-white: #fff;
$color-black: #000;

// Font Sizes
$default-font-size: 1.6rem;
$lead-font-size: 1.8rem;

// Normal Headings
$h1-font-size: 6rem;
$h1-font-weight: 900;

$h2-font-size: 2.5rem;
$h2-font-weight: 700;

$h3-font-size: 2rem;
$h3-font-weight: 700;

// Thin Headings
$h-thin-font-weight: 300;

