// Colors
$color-primary: #f0bf72;
$color-primary-dark: #c49e6e;
$color-primary-light: #f2e1cb;

$color-font-primary: #333333;
$color-font-secondary: #666666;

$color-white: #fff;
$color-black: #000;

$color-danger: #f5365c;
$color-success: #2dce89;

// Font Sizes
$default-font-size: 1.6rem;
$lead-font-size: 1.8rem;

// Normal Headings
$h1-font-size: 6rem;
$h1-font-weight: 900;

$h2-font-size: 2.5rem;
$h2-font-weight: 700;

$h3-font-size: 2rem;
$h3-font-weight: 700;

// Thin Headings
$h-thin-font-weight: 300;

