section {
    font-size: 1.6rem;
}

.container {
    padding: 0 5rem;
}

.section-order {
    padding: 25rem 0 15rem 0;
    margin-top: -15rem;
    
    &__title {
        display: inline-block;
        width: 50rem;
        line-height: 1.2;
    }

    &__inside {
        margin-bottom: 10rem;
    }
}

.section-menu {
    padding: 0 0 15rem 0;    
}

// .col-xl-6 {background-color: #f1f1f1;}
