.header-mp {
    font-size: 1.6rem;
    padding: 10rem 0 15rem 0;
    background-color: $color-primary-light;

    &__title {
        line-height: 1.2;
        position: relative;
        margin-top: 5.5rem;
    }
}
