.nav {
    width: 100%;
    font-size: $default-font-size;
    padding: 2.5rem 0;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 2;

    &__links {
        list-style: none;
        float: right;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-font-primary;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }

        &--icon {
            font-size: 2rem;
            font-weight: 900;
        }
    }
}
